body {
    background-color: skyblue;
}

#container {
    height: 40rem;
    width: 40rem;   
    border: 1px black solid;
    text-align: center;
    box-align: center;
    background: linear-gradient(to top right, green, black);
}
header {
    height: 24rem;
}

/* progress {
    color: green;
    background-color: red;
} */

#bottom {
    width: 36rem;
    margin: 0 2rem;
    padding: 0;
    border: 0;
    /* box-align: center; */
}

.status-block {
    width: 10rem;
    margin: 0 1rem;
}

#age-ticker {
    font-size: 1.5rem;
}

/* property is  */
/* animation: spin 5s infinite; */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {  /* try 30% */
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        }
}